<!--  Citation for turning HTML page dynamically using Django-->
<!-- Nov/02/2024-->
<!-- https://www.youtube.com/watch?v=xIgPMguqyws&t=233s -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Income Statement</title>
</head>
<body>
    <p>Company: {{ company_name }}</p>
    <h1>Income Statement</h1>
    <p>For Year Ended: {{ month_ended }}</p>

    <h2>Revenues</h2>
    <ul>
        {% for revenue, amount in revenues %}
            <li>{{ revenue }}: ${{ amount }}</li>
        {% endfor %}
    </ul>
    <p>Total Revenues: ${{ total_revenues }}</p>

    <h2>Expenses</h2>
    <ul>
        {% for expense, amount in expenses %}
            <li>{{ expense }}: ${{ amount }}</li>
        {% endfor %}
    </ul>
    <p>Total Expenses: ${{ total_expenses }}</p>

    <h2>Net Income</h2>
    <p>{{ net_income }}</p>

    <h2>Create a schedule and see when do you need to review</h2>
    <form action="/submit_review" method="post">
        <label for="review_id">Review ID:</label><br>
        <input type="text" id="review_id" name="review_id" required><br><br>

        <label for="increment">Increment:</label><br>
        <input type="number" id="increment" name="increment" ><br><br>

        <button type="submit">Submit</button>
    </form>
    
</body>
</html>