<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <h1>Financial Services</h1>
    </header>

    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('generate_income_statement') }}">Generate Income Statement</a>
        <a href="{{ url_for('generate_ticker') }}" > Search up Ticker </a>
        <a href="{{ url_for('generate_map') }}" > Search up the location of a company</a> 
    </nav>

    <main>
        <header>
            <h1>Welcome to the Dashboard</h1>
            <p>Track and generate income statements.</p>
            <p>Find a company through the stock ticker.</p>
            <p>Find a location of a company in a map.</p>
            <p>Schedule a review date for your income statement.</p>
        </header>
        <img src="{{ url_for('static', filename='business.jpg') }}" alt="Business Image" style="width: 100%; max-width: 800px; border: none">
    </main>
</body>
</html>
