<!-- Citation for the usage of rendering a dictionary in jinja2 -- >
<! --  Date Nov/03/2024 -- >
<! --  Adapted From -- >
<! --  https://stackoverflow.com/questions/19141073/rendering-a-dictionary-in-jinja2 -->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Income Statement for {{ query }}</title>
</head>
<body>
    <h1>Income Statement for {{ query }}</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Year Ended</th>
                <th>About</th>
            </tr>
        </thead>
        <tbody>
            {% for year_ended, about in ticker.items() %}
                <tr>
                    <td>{{ year_ended }}</td>
                    <td>{{ about }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('generate_ticker') }}">Search for Another Company</a>
</body>
</html>
