<!-- Citation for the usage of rendering a dictionary in jinja2 -- >
<! --  Date Nov/03/2024 -- >
<! --  Adapted From -- >
<! --  https://stackoverflow.com/questions/19141073/rendering-a-dictionary-in-jinja2 -->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revenue and Gross Profit for {{ rev_query }}</title>
</head>
<body>
    <h1>Revenue and Gross Profit for {{ rev_query }}</h1>

    <ul>
        <li>Revenues: ${{ income_statement.revenues }}</li>
        <li>Gross Profit: ${{ income_statement.gross_profit }}</li>
    </ul>

    <a href="/generate_ticker">Go Back</a>
</body>
</html>
